
img {
    width: 100%;
    filter: brightness(20%);
}

.hero-banner {
    overflow: hidden;
    height: 92vh;
}

.hero-overlay {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-overlay-text {
    font-size: 45pt;
    width: 80%;
}

.hero-overlay-button {
    border: 3px solid white;
    border-radius: 6px;
    background-color: transparent;
    font-size: 22pt;
    top: 70%;
    width: 220px;
    padding: 5px;
}

.hero-overlay-button:hover {
    background-color: white;
    color: black;
}