
.shop-header {
    border: 1px solid black;
    height: 50px;
}

.shop-sidebar {
    width: 200px;
    border: 1px solid black;
}

.shop-content {
    width: 100%;
    min-height: 400px;
}

.shop-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    border: 1px solid black;
}

.shop-item {
    border: 1px solid black;
    color: black;
    text-align: center;
}

.shop-item img {
    width: 200px;
    margin: 10px;
}

.item-name {
    margin: 0;
}