img {
  width: 100%;
  filter: brightness(20%);
  height: 91vh;
  overflow: hidden;
}

.hero-banner {
  overflow: hidden;
  width: 100%;
}

.hero-overlay {
  color: white;
  position: absolute;
  left: 50%;
  top: 42vh;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-overlay-text {
  font-size: 45pt;
  width: 80%;
}

.hero-overlay-button {
  border: 3px solid white;
  border-radius: 6px;
  background-color: transparent;
  font-size: 22pt;
  top: 61vh;
  width: 220px;
  padding: 5px;
}

.hero-overlay-button:hover {
  background-color: white;
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

article {
  display: flex;
  flex-flow: column;
}
