.hero-image {
  width: 100%;
  filter: brightness(20%);
  height: 91vh;
  overflow: hidden;
}

.hero-banner {
  overflow: hidden;
  width: 100%;
}

.hero-overlay {
  color: white;
  position: absolute;
  left: 50%;
  top: 42vh;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-overlay-text {
  font-size: 46pt;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 80%;
}

.hero-overlay-button {
  border: 3px solid white;
  border-radius: 6px;
  background-color: transparent;
  font-size: 22pt;
  top: 61vh;
  width: 220px;
  padding: 5px;
}

.hero-overlay-button:hover {
  background-color: white;
  color: black;
}

.consultant-banner {
  margin: auto;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 30px;
  background-color: var(--background-contrast-colour);
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.vector-left {
  align-items: left;
}

.vector-right {
  align-items: right;
}

.consultant-button {
  border: 3px solid white;
  border-radius: 6px;
  background-color: transparent;
  font-size: 22pt;
  top: 61vh;
  width: 220px;
  padding: 5px;
}

.consultant-button:hover {
  background-color: white;
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 55vh 55vh 55vh;
  gap: 0px 0px;
  grid-template-areas:
    "mission-image mission-text"
    "regulation-text regulation-image"
    "certification-image certification-text";
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.grid-section > img {
  max-width: 50vw;
}

.grid-section {
  background-color: var(--info-grid-primary-colour);
}

.grid-section-text {
  padding-top: 50px;
  text-align: center;
  font-size: 22px;
  font-family: "Georgia", "Times New Roman", Times, serif;
}
