:root {
  --primary-colour: #00a550;
  --secondary-colour: #00582a;
  --tertiary-colour: #d3d3d3;
  --background-colour: #fff;
  --background-contrast-colour: #fcfcfc;
  --info-grid-primary-colour: #99b7ee;
  --primary-text-colour: #333333;
}

html,
body {
  color: var(--primary-text-colour);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-contrast-colour);
}

a {
  text-decoration: none;
}

#logo-text {
  font-size: 36px;
  user-select: none;
}

#logo-text:active,
#logo-text:hover {
  text-shadow: 3px 3px var(--secondary-colour);
  background-color: var(--primary-colour);
  color: white;
}

.navbar {
  box-shadow: 0px 0px 10px grey;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: var(--primary-colour);
  padding: 20px 0;
  margin: 0;
  font-weight: bold;
  z-index: 99;
}

.navbar-right {
  float: right;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px 20px;
  margin: 0 20px;
  font-size: 22px;
  line-height: 25px;
  border-radius: 4px;
  text-shadow: 3px 3px var(--secondary-colour);
}

.navbar a:hover {
  text-shadow: none;
  background-color: #ddd;
  color: var(--secondary-colour);
}

.navbar-active {
  border-bottom: 4px solid white;
  border-radius: 0 !important;
}

.footer {
  background-color: var(--tertiary-colour);
  box-shadow: 0px 0px 10px grey;
  color: --primary-text-colour;
}

.footer table {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  border: solid 3px var(--primary-text-colour);
  border-right: none;
  border-left: none;
  table-layout: fixed;
  overflow: auto;
  font-family: "Georgia", "Times New Roman", Times, serif;
  padding-top: 5px;
  padding-bottom: 30px;
}

.footer td {
  vertical-align: top;
  padding: 0px 20px;
}

.footer a {
  text-decoration: underline;
  color: black;
}

.footer-base {
  color: white;
  background-color: var(--secondary-colour);
  font-size: 10pt;
  padding: 0 30px;
  overflow: hidden;
}

.footer-base p {
  float: left;
  margin: 20px 0;
}

.main-content {
  min-height: calc(100vh - 89px - 220px);
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  #logo-text {
    font-size: 30px !important;
  }
  .navbar a {
    font-size: 18px !important;
  }
  .hero-overlay {
    top: 32vh !important;
  }
  .hero-image {
    height: auto !important;
    width: 100% !important;
    min-height: 60vh !important;
  }
  .hero-overlay-text {
    font-size: 32pt !important;
  }
  .hero-overlay-button {
    top: 51vh !important;
    font-size: 16pt !important;
  }
  .consultant-banner {
    font-size: 70% !important;
  }
  .grid-section {
    font-size: 16px !important;
  }
  .grid-section p {
    font-size: 30px !important;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  #logo-text {
    font-size: 30px !important;
  }
  .navbar a {
    font-size: 18px !important;
  }
  .hero-overlay {
    top: 37vh !important;
  }
  .hero-image {
    height: auto !important;
    width: 100% !important;
    min-height: 77vh !important;
  }
  .hero-overlay-text {
    font-size: 36pt !important;
  }
  .hero-overlay-button {
    top: 56vh !important;
    font-size: 20pt !important;
  }
  .consultant-banner {
    font-size: 70% !important;
  }
  .grid-section {
    font-size: 16px !important;
  }
  .grid-section p {
    padding-bottom: 50px !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
  .grid-section {
    font-size: 16px !important;
  }
}

@media screen and (min-width: 1550px) and (max-width: 1920px) {
  .grid-section {
    font-size: 18px !important;
  }
}

@media screen and (min-width: 1920px) {
  .main-content {
    max-width: 1920px;
    margin: 0 auto;
  }
}

/* End of template */
